---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="border rounded-lg border-zinc-800 hover:border-green-700/40 hover:bg-green-900/10 transition-all hover:text-zinc-100 py-2 px-3"
  href={href}
>
  <slot/>
</a>
