---
interface Props {
  size?: number;
  class?: string;
}

const { size = 4, class: _class = "bg-zinc-400" } = Astro.props;
---

<div
  style={`width:${size}px;height:${size}px`}
  class={`rounded-full ${_class}`}
>
</div>
